{{$id := sub (.Get "id") 1}}
{{$min := .Get "min"}}
{{$lead := .Get "lead"}}

{{$prob := index $.Site.Data.problems $id}}

{{$venue := index $prob "venue"}}
{{$number := index $prob "number"}}
{{$title := index $prob "title"}}
{{$titlejp := index $prob "titlejp"}}
{{$link := index $prob "link"}}
{{$problink := index $prob "problink" | default $link}}
{{$probmaterial := index $prob "probmaterial"}}
{{$author := index $prob "author"}}
{{$category := index $prob "category"}}
{{$difficulty := index $prob "difficulty"}}
{{$diffeach := index $prob "diffeach"}}

<div class="card exercise">
    <div class="card-body">
        <div class="d-flex">
            <h6 class="card-subtitle mb-2 text-muted mr-auto">{{$venue}}-{{$number}}</h6>{{with $probmaterial}}
            <h6 class="card-subtitle mb-2 text-muted"><a class="text-muted" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-content="{{$url := .}}{{$title := "追加資料を入手"}}<div class=&#34;card web-card d-flex flex-row mb-3&#34;><a href=&#34;{{$url}}&#34; target=&#34;_blank&#34;></a><div class=&#34;thumb center&#34;><div class=&#34;icon material&#34;><i class=&#34;fas fa-icons&#34;></i></div></div><div class=&#34;card-body p-2&#34;><h5 class=&#34;card-title mb-1&#34;>{{$title}}</h5></div></div>"><i class="fas fa-icons fa-fw"></i></a></h6>{{end}}
        </div>
        <h5 class="card-title">{{with $titlejp}}{{.}}{{else}}{{$title}}{{end}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><a class="text-muted" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="難易度の評定" data-content="{{range $diffeach}}{{.diff}} by {{.name}}; {{end}}">{{index (index $.Site.Params.diffstar "value") (($difficulty).typicalStar|int) |safeHTML}}{{($difficulty).typical}}</a> 目標：{{$min}}分 {{range $category}}{{if hasPrefix . "!"}}{{else}}<span class="tag m-1 unmot">{{.}}</span>{{end}}{{end}}</h6>{{with $problink}}
        <a href="{{$problink}}" class="card-link" target="_blank">問題（印刷用）</a>{{end}}{{with $probmaterial}}
        <a href="{{.}}" class="card-link" target="_blank">資料</a>{{end}}
        <hr>
        <div class="card-text exercise-text">
            <p>Q. {{$lead | markdownify}}</p>{{.Inner | markdownify}}</div>
        <p class="card-text text-muted text-right">── {{$author}}</p>
    </div>
</div>