+++
title = "kotohazi"
linkTitle = "kotohazi"

+++

{{< blocks/cover title="言語学オリンピック事始" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white"%}}

「言語学オリンピック事始」(ことはじ) は言語学オリンピックの入門サイトです！

<a class="unmot" href="docs/"><i class="fas fa-flag fa-fw"></i>入門講座</a> をメインに
<a class="unmot" href="problems/"><i class="fas fa-lightbulb fa-fw"></i>問題集</a> や
<a class="unmot" href="docs/refs/"><i class="fas fa-book fa-fw"></i>おすすめの文献</a> など
役立ちそうな情報を載せていきます



{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-flag" title="入門講座" url="/docs" %}}
入門から発展までカバー！ステージをクリアしてレベルアップしよう！
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="問題集" url="/problems" %}}
過去問や練習問題のデータベース．ヒントや解説もまとめていきます
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-book" title="おすすめの文献" url="/docs/refs" %}}
魔術書の類です
{{% /blocks/feature %}}


{{< /blocks/section >}}

