/*

Add styles or override variables from the theme here.

*/

@import "ogpcard";

$primary: #00bcd4;
$info: #00000099;


$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    -4: ($spacer * -1.5),
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    45:($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 10)
  ),
  $spacers
);

$font-family-base: helvetica,Segoe UI,游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,メイリオ,Meiryo,sans-serif;
$headings-font-family: Open sans,helvetica,Segoe UI,游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,メイリオ,Meiryo,sans-serif;

$headings-margin-bottom: 1rem;

dl{
    padding-left: 15px;
}

dt{
    float: left;
    padding-right: 1rem;
    min-width: 5rem;
}

//とりあえず
.mw-lg-80{
    @media (min-width: 992px){
        max-width: 80%;
    }
}

.td-content{
    p{
        max-width: unset !important;
    }
}

figcaption h4{
    font-size: medium;
}

.unmot{
    display: inline-block;
}

.table-responsive{
    th,td {
        white-space: nowrap;
    }
}

.section > h2{
    padding: 0.5rem 1rem;
    margin: 1rem 0rem 1.5rem -1.5rem;
    border-left: 0.5rem solid $primary;
    background: #d3f3ee;
}

.section > h3, h2{
    margin-left: -1.25rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-left: 0.25rem solid $primary;
    border-bottom: 3px solid #eee;
}

.section > h4, h3{
    margin-left: -1rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-bottom: 3px solid #eee;
}

@media (max-width: 767px){
    h2, h3{
        margin-left: 0rem;
    }
}

.popover{
    h3{
        margin-left: unset !important;
    }
}

section{
    li{
        font-size: large;
    }
    p{
        font-size: large;
    }
    &.footnotes p{
        font-size: medium;
    }
}

.mini-toc{
    background-color: #fafafa;
    @extend .py-3;
    ul{
        margin-bottom: 0rem;
    }
}

.card.exercise{
    table{
        width: 100%;
        table-layout: fixed;
        counter-reset: sentence 0;
        @extend .mb-4;
        th,td{
            @extend .d-block, .d-md-table-cell;
        }
        th:first-child{
            @extend .pl-md-45;
        }
        @media (max-width: 767px){
            td:last-child{
                padding-left: 2em;
                text-indent: 0em;
            }
        }
        td:first-child{
            counter-increment: sentence 1;
            padding-left: 2em;
            text-indent: -2.5em;
            &:before{
                content: counter(sentence) ".";
                display: inline-block;
                text-align: right;
                width: 2em;
                margin-right: .5em;
            }
        }
    }
    .radio-wrapper{
        border-radius: .25rem;
        border: 1px solid white;
        &.is-valid{
            border: 1px solid #28a745;
        }
        &.is-invalid{
            border: 1px solid #ED6A5A;
        }
        label{
            cursor: pointer;
        }
        input{
            position: relative;
            cursor: pointer;
            &:before{
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 0.75rem;
                height: 0.75rem;
                content: '';
                transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
                transform: scale(0, 0);
                border-radius: 50%;
                background: #00bcd4;
            }
            &:checked:before{
                transform: scale(1, 1);
            }
            &:after{
                position: absolute;
                top: -2px;
                left: -2px;
                width: 1rem;
                height: 1rem;
                content: '';
                border: 2px solid #ccc;
                border-radius: 50%;
                background: #f2f2f2;
            }
        }
    }
    .chaos{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        ol{
            width: fit-content;
            @extend .col-sm-4, .pl-45;
            li{
                padding-top: .2em;
                padding-bottom: .2em;
            }
            &:not(:first-of-type){
                list-style: none;
                padding-left: calc(2rem - 1em) !important;
                @extend .pl-sm-0;
                li{
                    @extend .tag, .mb-1;
                    border: 1px solid white;
                    &.ignore-elements{
                        background-color: unset;
                    }
                    &.sortable-swap-highlight{
                        background-color: rgba(27,31,35,.15);
                    }
                }
                li:not(.ignore-elements){
                    cursor: pointer;
                }
            }
            &:nth-of-type(2){
                counter-reset: chaoslist 0;
                li:before{
                    counter-increment: chaoslist 1;
                    content: counter(chaoslist) " : ";
                }
                li{
                    &.is-valid{
                        border: 1px solid #28a745;
                    }
                    &.is-invalid{
                        border: 1px solid #ED6A5A;
                    }
                }
            }
        }
    }
}

.keyword-popover{
    &, &:hover{
        color: inherit;
        text-decoration: underline;
        text-decoration-style: dotted;
        padding-right: .2em;
    }
}

.exercise-text p{
    font-size: medium;
}

$form-feedback-valid-color: #28a745;

.pageinfo{
    margin: 0.5rem !important;
    padding-left: 0.5rem !important;
    @extend .m-md-4, .pl-md-4;
}

.note{
    border-width: 2px !important;
    max-width: unset !important;
    @extend .pageinfo;
}

.title-animation{
    transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    animation: show 1s both;
}

@keyframes show {
    from{
        transform: rotate(-10deg) scale(1.1);
        opacity: 0;
    }
    to{
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

.embed-responsive{
    max-width: 500px;
}

.form-control:focus{
    @extend .td-search-input.form-control:focus;
}

.basicbtn{
    border: 1px solid $primary;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    transition: 0.25s all ease;
    cursor: pointer;
}
.checkedbtn{
    color: white;
    background-color: $primary;
}
.notcheckedbtn{
    color: black;
    background-color: white;
}

.markbtn{
    @extend .basicbtn, .notcheckedbtn;
    &:hover{
        @extend .checkedbtn;
    }
}

.pagerbtn{
    @extend .basicbtn, .notcheckedbtn;
    padding: 0.25rem 0.5rem;
    margin-bottom: .5rem;
    display: inline-block;
    &:hover{
        @extend .checkedbtn;
    }
    &.disabled{
        display: none;
    }
}

.filter-group input[type="checkbox"]{
    +label{
        @extend .basicbtn, .checkedbtn;
        &.andor{
            border-color: #ffa630;
            background-color: #ffa630;
        }
    }
    &:not(:checked)+label{
        @extend .notcheckedbtn;
        &.andor{
            background-color: white;
        }
    }
}

.sort-by-button-group .btn{
    @extend .basicbtn, .notcheckedbtn;
    &.active{
        @extend .checkedbtn;
        box-shadow: unset !important;
    }
}

.sort i.fa-sort-down{
    display: none;
}

.isSortAscending{
    & i.fa-sort-up{
        display: none;
    }
    & i.fa-sort-down{
        display: inline-block;
    }
}

.tag{
    padding: .2em .4em;
    margin: 0;
    font-size: 90%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

.filter-group.hide{
    display: none;
}

.filter-item{
    margin: 5px -5px;
}

.bigstar{
    @extend .font-italic;
    font-size: larger;
}

i.fa-angle-right{
    transition: .2s;
    a[aria-expanded="true"] &{
        transform: rotate(90deg);
    }
}

.check-icon{
    +label{
        cursor: pointer;
        position: relative;
        color: #ccc;
    }
    &:checked+label{
        animation: largerbound .5s;
        @keyframes largerbound {
            0%{transform: scale(.8);}
            40%{transform: scale(1.2);}
            80%{transform: scale(1);}
        }
        &:before{
            content: "";
            width: 2em;
            height: 2em;
            border: 1px solid;
            border-color: inherit;
            border-radius: 50%;
            animation: circleout .5s ease-out;
            position: absolute;
            left: calc(50% - 1em);
            top: -6px;
            opacity: 0;
            @keyframes circleout{
                0%{transform:scale(.95); opacity:1}
                100%{opacity:.1}to{transform:scale(1.2,1.2); opacity:0}
            }
        }
    }
}

.check-heart{
    @extend .check-icon;
    &:checked+label{
        color: red;
    }
}

.check-check{
    @extend .check-icon;
    &:checked+label{
        color: var(--teal);
    }
}

$sort-colors:(
    "hint": var(--yellow),
    "expl": black,
    "done": var(--teal),
    "like": red
);

@each $class, $sort-color in $sort-colors {
    .sort-utility-#{$class} {
      color: $sort-color;
    }
}