.web-card{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    max-width: 500px;
    transition: .3s;
    &:hover{
        filter: drop-shadow(2px 3px 2px #dfdfdf);
    }
    & > a{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & > div{
        flex-basis: 100px;
    }
    .thumb{
        overflow: hidden;
        width: 100px;
        height: 100px;
        background: #dfdfdf;
        border: 1px solid #dfdfdf;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        img{
            height: 100px;
            max-width: 200%;
            transform: translateX(calc(-50% + 50px));
        }
        &.center{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            .icon{
                border-radius: 50%;
                width: 2.5em;
                height: 2.5em;
                line-height: 2.5em;
                text-align: center;
                font-size: xx-large;
                &.docs{
                    color: var(--success);
                    border: solid 1px var(--success);
                }
                &.solve{
                    color: var(--primary);
                    border: solid 1px var(--primary);
                }
                &.hard{
                    color: var(--danger);
                    border: solid 1px var(--danger);
                }
                &.know{
                    color: var(--teal);
                    border: solid 1px var(--teal);
                }
                &.refs{
                    color: var(--orange);
                    border: solid 1px var(--orange);
                }
                &.prob{
                    color: var(--yellow);
                    border: solid 1px var(--yellow);
                }
                &.person{
                    color: var(--blue);
                    border: solid 1px var(--blue);
                }
                &.default{
                    color: var(--info);
                    border: solid 1px var(--info);
                }
            }
        }
    }
    &.card{
        border: none;
    }
    .card-body{
        border: 1px solid #dfdfdf;
        border-left: none;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        width: calc(100% - 100px);
    }
    .card-text{
        line-height: 1.2;
        max-height: 2.4em;
        overflow: hidden;
        font-size: small;
        width: 100%;
    }
    .card-title{
        line-height: 1.2;
        max-height: 2.4em;
        width: 100%;
        overflow: hidden;
        font-size: medium;
    }
}