.web-card{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    max-width: 500px;
    transition: .3s;
    background-color: transparent !important;
    &:hover{
        filter: drop-shadow(2px 3px 2px #dfdfdf);
    }
    & > a{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    & > div{
        flex-basis: 100px;
    }
    .next{
        flex-basis: 50px;
        line-height: 100px;
        text-align: center;
        font-size: 2.5em;
        background-color: transparent;
        color: var(--info);
    }
    .thumb{
        overflow: hidden;
        width: 100px;
        height: 100px;
        background: #dfdfdf;
        border: 1px solid #dfdfdf;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        img{
            height: 100px;
            max-width: 200%;
            transform: translateX(calc(-50% + 50px));
        }
        &.center{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            .icon{
                border-radius: 50%;
                width: 2.5em;
                height: 2.5em;
                line-height: 2.5em;
                text-align: center;
                font-size: xx-large;
                &.level{
                    color: var(--success);
                    border: solid 1px var(--success);
                }
                &.stage{
                    color: var(--secondary);
                    border: solid 1px var(--secondary);
                }
                &.solve{
                    color: var(--primary);
                    border: solid 1px var(--primary);
                }
                &.know{
                    color: var(--teal);
                    border: solid 1px var(--teal);
                }
                &.magic{
                    color: #3f51b5;
                    border: solid 1px #3f51b5;
                }
                &.hard{
                    color: var(--danger);
                    border: 1px solid var(--danger);
                }
                &.refs{
                    color: var(--orange);
                    border: solid 1px var(--orange);
                }
                &.prob{
                    color: var(--yellow);
                    border: solid 1px var(--yellow);
                }
                &.person{
                    color: var(--blue);
                    border: solid 1px var(--blue);
                }
                &.default{
                    color: var(--info);
                    border: solid 1px var(--info);
                }
                &.material{
                    color: #3176d9;
                    border: solid 1px #3176d9;
                }
                &.very.nextpage{
                    border: none;
                    position: relative;
                    &:before{
                        content: "";
                        width: 2.5em;
                        height: 2.5em;
                        border: 1px solid;
                        border-color: inherit;
                        border-radius: 50%;
                        animation: anime 1.5s ease-out infinite;
                        position: absolute;
                        left: 0px;
                        @keyframes anime{
                            0%{transform:scale(.95); opacity:1}
                            100%{opacity:.1}to{transform:scale(1.2,1.2); opacity:0}
                        }
                    }
                }
            }
        }
    }
    &.card{
        border: none;
    }
    .card-body{
        border: 1px solid #dfdfdf;
        border-left: none;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        width: calc(100% - 100px);
        background-color: white;
    }
    .card-text{
        line-height: 1.25;
        max-height: 2.5em;
        overflow: hidden;
        font-size: small;
        width: 100%;
    }
    .card-title{
        line-height: 1.25;
        max-height: 2.5em;
        width: 100%;
        overflow: hidden;
        font-size: medium;
    }
}