{{$id := .Get "id"}}
{{$arrayProbData := where $.Site.Data.problems "id" $id}}
{{$prob := index $arrayProbData 0}}
{{$hint := $prob.hint}}

<p class="m-0"><a data-toggle="collapse" href="#hintall" role="button" aria-expanded="false" aria-controls="hintall"><i class="fas fa-angle-right fa-fw"></i>全ての手順を見る</a></p>
<div class="collapse" id="hintall">
    <ul class="p-2">
        {{range $hint.value}}<li>{{ . | markdownify }}{{end}}</li>
    </ul>
</div>
<p class="text-right author">—— {{$hint.name}}</p>
