---
title: About
linkTitle: About
menu:
  main:
    weight: 10

---

{{% blocks/lead color="primary" %}}

<h1 class="text-center display-1 mt-0 mt-md-5 pb-4">About</h1>

{{% /blocks/lead %}}

{{% blocks/section type="section" color="white" %}}

### 目次

1. [目的](#td-block-2)
1. [本サイトの使い方](#td-block-3)
1. [アイデア](#td-block-4)
1. [執筆陣](#td-block-5)
1. [ご指摘等](#td-block-6)

{{% /blocks/section %}}

{{% blocks/section type="section" color="white" %}}

<h2>目的</h2>

<h3>言語学オリンピックのことを学べるサイトを作りたい</h3>

数年前までごく限られた人だけが知っている小さな大会だった言語学オリンピックも様々な人の活動や口コミによって世間に浸透しつつあります．一方で言語学オリンピックに興味を持っても，現時点(2020年2月23日)ではあまり学習環境が整っていません．そこで言語学オリンピックの知識・経験を共有するため，本サイトを始めました．コンセプトは

- ネットで読める
- 日本語で書かれた
- 分かりやすい
- 使いやすい
- 見た目から楽しい

言語学オリンピック入門サイト，です！

『高校数学の美しい物語』の言語学版をイメージしています．あのレベルまで内容を充実させるのは時間がかかりそうですが，自分の勉強も兼ねてコツコツ進めていきたいと思います．

<h3>言語学オリンピックを言語学と連続させたい</h3>

言語学オリンピック風の問題というのは，実は言語の構造分析の練習問題として大学の授業でも使われています．たとえば Thomas E. Payne の *Exploring Language Structure: a Student's Guide* には多くの言語学パズルが載っています．特に61ページの Excercise 2.13 Orkhono-Yeniseyan なんかがそっくりです．

言語学オリンピックは(構造主義的な記述)言語学のことを知るのにとっても有効ですが，そこの繋がりが注目されていないと感じます．このサイトが言語学オリンピックから言語学へ，また言語学から言語学パズルへの橋渡し的な存在になればと思います．

<div class="embed-responsive embed-responsive-1by1 m-md-3">
  <iframe class="embed-responsive-item" scrolling="no" src="https://books.google.co.jp/books?id=Jh0F6mnUx1oC&lpg=PP1&pg=PP1&output=embed"></iframe>
</div>

{{% /blocks/section %}}

{{% blocks/section type="section" color="white" %}}
<h2>本サイトの使い方</h2>

- 入門講座入門(執筆中)
- [問題集取説](/problems/about/)

{{% /blocks/section %}}

{{% blocks/section type="section" color="white" %}}
<h2>アイデア</h2>

{{< icon flag 入門講座>}}，{{< icon lightbulb 問題集>}}，{{< icon book 参考文献 >}} のページを作っていきます．

<h3>{{< icon flag 入門講座>}}</h3>

{{< icon flag 入門講座>}} は一から言語学オリンピックについて学べるシリーズものの記事です．

レベル別に分け徐々に解像度があがるようにします． {{< icon pen 演習と解説ステージ>}} と {{< icon book-open 知識ステージ>}} をだいたい交互に組み合わせていきます．2つはこんな違いがあります．

||{{< icon pen 演習と解説ステージ>}}|{{< icon book-open 知識ステージ>}}|
|---|---|---
|Do|例題→解説→練習|読む
|Get|分析力|知識
|RPGでいう|冒険パート|町パート

進めていくうちに，個別の経験・知識の点と点がつながって体系的に整理されて直感が鍛えられて解法がひらめきやすくなる......なんて講座が理想です．

雰囲気から楽しそうな感じにしたいのでデザインとかワード選びをゲーミフィケーションしたいです！

<h3>{{< icon lightbulb 問題集>}}</h3>

{{< icon lightbulb 問題集>}} は過去問と練習問題をまとめたデータベースです．

ただしすでに [NACLO problem database](http://tangra.cs.yale.edu/naclobase/) があるので，網羅するというよりはむしろ良さげな問題にしぼり，ヒントや解説といった個別の問題についての情報を充実させて行く方向性にしようかなと思います．こんな感じで考えています↓

- 貴重な日本語で解ける問題や国際大会の問題，おすすめの海外予選問題，入門講座用のオリジナル問題などを一覧にする
- ジャンル・難易度の情報をつける
- ヒントを用意する．答えを導く手順を簡潔にまとめて，1ステップずつチラ見できるようにする
- 答え合わせフォームを作る(需要があれば)
- 複数の人がネットに公開している解説記事へのリンクを貼る

<h4>どんな風に使えるか</h4>

この問題解いてみたけど

- 詰まっちゃった，でもまだ答えはみたくない → ヒント
- 一応答えでたけど不安 → 答え合わせフォーム．正答だけ確認して，合ってたらうれしい，間違ってても再チャレンジができる
- 合ってたけど理屈を知りたい・答え見ても分からなかった → 解説
- 類題や背景知識が知りたい → 以下の検索機能を使う

<h4>検索</h4>

「こんな問題解きたいな」というときにぴったりの問題を見つけられるよう，ジャンルや難易度について分類して検索可能にします．

イメージ

||ジャンル|難易度
|---|---|---
|問題1|音韻|★☆☆☆☆
|問題2|音韻|★★☆☆☆
|問題3|形態(文)|★☆☆☆☆
|問題4|音韻, 形態(文)|★★★☆☆

すると例えば問題1を解いたときに，こんなことができます

1. 音韻の問題結構解けた！もっと難しいのも解きたい → 音韻 & ★★☆☆☆ で検索 ⇒ 問題2 がヒット
1. 今の自分のレベルにあった違うジャンルの問題が解きたい → 音韻以外 & ★☆☆☆☆ で検索 ⇒ 問題3 がヒット

<h4>横断検索</h4>

さらに「この過去問の関連知識・解法が知りたいな」というときのために，{{< icon flag 入門講座>}} も同じように分類します(ちょっと項目を増やしました)．

イメージ

||タイプ|扱う問題のid|ジャンル|難易度
|---|---|---|---|---
|問題1|問題|1|音韻|★☆☆☆☆
|問題2|問題|2|音韻|★★☆☆☆
|{{< icon pen ステージ1-2 >}}|演習と解説ステージ|1|音韻|★☆☆☆☆
|{{< icon book-open ステージ2-3 >}}|知識ステージ||音韻|★★☆☆☆

すると問題と入門講座を横断検索できるようになるので，こんなことができます

1. 問題1の関連知識が知りたい → (難易度は指定せず) 音韻 & ステージ で検索 ⇒　{{< icon pen ステージ1-2 >}}, {{< icon book-open ステージ2-3 >}} がヒット
1. 問題1の解法が知りたい → id = 1 & ステージ で検索 ⇒ {{< icon pen ステージ1-2 >}} がヒット
1. {{< icon pen ステージ2-3 >}} の例題が知りたい → 音韻 & ★★☆☆☆ & 問題 で検索 ⇒ 問題2 がヒット

できれば以上のような検索を自動でしてしまって，関連記事として出力したいです．

<h3>{{< icon book 参考文献 >}}</h3>

世の中の参考文献をまとめていきます．

[これ](http://www.tufs.ac.jp/ts/personal/kazama/References.html) に新しいもの・ウェブ上で読めるもの・￢言語学∧言語学オリンピック なものを足していく感じです．

{{% /blocks/section %}}

{{% blocks/section type="section" color="white" %}}
<h2>執筆陣</h2>

{{% /blocks/section %}}

{{% blocks/section type="section" color="white" %}}
<h2>ご指摘等</h2>

{{% /blocks/section %}}
