{{ $next := false }}
{{ $prev := false }}
{{if .Parent}}
	{{if ne . .FirstSection}}
		{{if eq . .CurrentSection}}
			{{with .Parent.Sections.Prev .}}{{ $next = . }}{{end}}
			{{with .Parent.Sections.Next .}}{{ $prev = . }}{{end}}
		{{else}}
			{{if .PrevInSection}}{{ $next = .PrevInSection }}{{end}}
			{{if .NextInSection}}{{ $prev = .NextInSection }}{{end}}
		{{end}}
		{{$parent := .Parent}}
		{{range seq 3}}
			{{if $next}}
			{{else if $parent.Parent}}
				{{if ne $parent $parent.FirstSection}}
					{{with $parent.Parent.Sections.Prev $parent}}{{ $next = . }}{{end}}
				{{end}}
			{{end}}
			{{$parent = $parent.Parent | default $parent}}
		{{end}}
		{{if $prev}}
		{{else}}
			{{with .Parent}}{{ $prev = . }}{{end}}
		{{end}}
	{{end}}
{{end}}
{{with $next}}
{{ $pagetype := .Params.pagetype | default "default" }}
{{ $icon := index $.Site.Params.pagetype (index (split $pagetype " ") 0)}}
<hr>
<div class="d-flex">
  <div class="card web-card d-flex flex-row mb-3 ml-auto">
    <div class="next">
      <i class="fa-angle-double-right fas"></i>
    </div>
    <a href="{{ .RelPermalink }}"></a>
    <div class="thumb center">
        <div class="icon nextpage {{$pagetype}}">
        <i class="fas fa-{{$icon}}"></i>
        </div>
    </div>
    <div class="card-body p-2">
        <h5 class="card-title mb-1">{{- .Title -}}</h5>
        <p class="card-text text-muted">{{ .Description | markdownify }}</p>
    </div>
  </div>
</div>
{{end}}
