{{$arrrayProbdata := where $.Site.Data.problems "draft" false}}
{{$contestdata := $.Site.Data.contests}}

{{$prob := newScratch}}
{{range $k, $v := $arrrayProbdata}}
    {{ $tmpVenue := "" }}
    {{ if isset $v "venue" }}
        {{ $tmpVenue = $v.venue }}
        {{with $v.venuedetail }}
            {{ $tmpVenue = . }}
        {{end}}
        {{ $prob.Add "venue" (slice $tmpVenue )}}
        {{if isset $v "year" }}
            {{ $prob.Add $tmpVenue (slice $v.year )}}
            {{ $prob.Add (string (delimit (slice $tmpVenue (string $v.year)) "")) (slice $k) }}
        {{end}}
    {{end}}
{{end}}
{{$prob.Set "venue" (uniq ($prob.Get "venue")) }}
{{range ($prob.Get "venue")}}
    {{$prob.Set . (uniq ($prob.Get .)) }}
{{end}}

<div class="position-relative">
<div id="search-console">
<div id="private-title" class="align-items-center">
    <p class="mr-auto d-inline-flex mb-0">
        <i class="fas fa-share align-self-center mr-2"></i>
        <span id="private-title-text"></span>
    </p>
        <div id="private-filter-btngroup">
            <input type="checkbox" hidden id="private-filter-off-input">
            <label class="btn btnfn mb-2" id="private-filter-off" for="private-filter-off-input">
                <i class="fas fa-filter fa-fw"></i>これだけ
            </label>
            <button class="btn btnfn btnfn-danger" id="private-filter-clear">
                <i class="fas fa-trash fa-fw"></i>CLEAR
            </button>
        </div>
</div>
<div id="allfilter">
<p><input type="text" class="quicksearch form-control" id="quicksearch" placeholder="検索" /></p>

<div id="filter">
{{$filterVenue := ($prob.Get "venue")}}
<div class="filter-group" id="filter-venue" data-filter-group="venue">
    <span>
        出題元
    </span>
    {{ with $filterVenue }}
    <div class="unmot">
        {{range .}}
            <input class="filter-input" type="checkbox" checked hidden id="{{.}}" data-filter=":not(.{{.}})" autocomplete="off">
            <label class="{{.}}" for="{{.}}">{{.}}</label>
        {{end}}
    </div>
    {{end}}
</div>
</div>

</div>

<div>
    <span>ソート</span>
    <div class="btn-group btn-group-toggle sort-by-button-group" id="sort-by-button-group" data-toggle="buttons">
        <label for="venue-year" class="btn sort isSortAscending" data-sort-by="year">
            <input hidden type="radio" name="sort" id="venue-year" autocomplete="off">年<i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i>
        </label>
    </div>
    <button class="btn btnfn btn-primary rounded-circle" id="shuffle"><i class="fas fa-random"></i></button>
</div>

<div class="d-flex mt-2">
    <p class="text-muted mb-0 align-self-center mr-auto" id="output">——</p>
    <div>
        <button class="btn btnfn btnfn-danger" id="clear"><i class="fas fa-trash fa-fw"></i>CLEAR</button>
    </div>
</div>

</div>
</div>

<div id="filter-container" class="mt-4 row">

{{range ($prob.Get "venue" )}}
{{$tmpVenue := .}}
{{range ($prob.Get .)}}
{{$contest := index (where (where $contestdata "venue" $tmpVenue) "year" .) 0}}
{{$key := string (delimit (slice $tmpVenue (string .)) "")}}
{{$detailpath := slice "/problems"}}
{{with $contest.venuecompatiable}}{{$detailpath = $detailpath | append (. | urlize)}}{{end}}
{{$detailpath = $detailpath | append ($contest.venue | urlize)}}
{{$namedyear := cond (lt . 0) (index $.Site.Params.namedyear .) .}}
{{$detailpath = $detailpath | append ($namedyear | urlize)}}
{{$probcorrection := slice}}
{{$solcorrection := false}}
{{range ($prob.Get $key)}}
    {{$problem := index $arrrayProbdata .}}
    {{with $problem.probcorrection}}
        {{$probcorrection = $probcorrection | append (slice (delimit (slice "- " $problem.number ": " $problem.probcorrection "\n") ""))}}
    {{end}}
    {{with $problem.solcorrection}}
        {{$solcorrection = true}}
    {{end}}
{{end}}
<div id="{{$key}}" data-id="{{$key}}" class="filter-item {{$tmpVenue}} col-12">
    <div class="card">
        <div class="card-header">{{$problinktext := "問題"}}{{$sollinktext := "解答"}}{{if eq $tmpVenue "IOL" | and (gt . 0)}}{{$problinktext = "個人戦問題"}}{{$sollinktext = "個人戦解答"}}{{end}}{{with $contest.probsol}}{{else}}{{$problinktext = "問題と解答"}}{{end}}
            <div class="d-flex">
                <h5 class="mr-auto"><a class="text-dark" href="{{path.Join $detailpath}}"><span class="sort-venue">{{$tmpVenue}}</span><span class="sort-year sr-only">{{.}}</span>{{$namedyear}}</a></h5>
                {{with $probcorrection}}<h5 class="text-muted"><a class="text-muted" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="問題訂正" data-html="true" data-content="{{(delimit . "") | markdownify | safeHTMLAttr}}"><i class="fas fa-exclamation-circle fa-fw"></i></a></h5>{{end}}
                {{with $solcorrection}}<h5 class="text-muted"><a class="text-muted" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="解答訂正" data-content="解答の訂正あり"><i class="fas fa-exclamation-circle fa-fw"></i></a></h5>{{end}}
            </div>
            <a href="{{$contest.prob}}" class="card-link unmot ml-1_25" target="_blank">{{$problinktext}}</a>
            {{if eq $tmpVenue "IOL"  | and (gt . -1)}}{{$teamdetailpath := (slice "/problems" "iol" (string .)) | append ("team-1" | urlize)}}
            <a href="{{$contest.teamprob | default (path.Join $teamdetailpath) }}" class="card-link unmot" target="_blank">団体戦</a>{{end}}
            {{with $contest.probsol}}<a href="{{.}}" class="card-link unmot" target="_blank">{{$sollinktext}}</a>{{end}}
            {{with $contest.teamsol}}<a href="{{.}}" class="card-link unmot" target="_blank">団体戦解答</a>{{end}}
            <a class="card-link unmot" data-toggle="collapse" href data-target="#collapse{{$key}}" role="button" aria-expanded="false" aria-controls="collapse{{$key}}"><i class="fas fa-angle-right fa-fw"></i>出題問題一覧</a>
        </div>
        <div class="card-body collapse itmclps transition-none" id="collapse{{$key}}">
            <div class="card-title">出題問題一覧</div>
            <table class="table">
                <tbody>
                {{range ($prob.Get $key)}}
                {{$yearteamnum := $detailpath}}
                {{$problem := index $arrrayProbdata .}}
                {{$teamnum := slice "" }}
                {{if isset $problem "team"}}{{$teamnum = slice "team" $problem.number}}
                {{else}}{{$teamnum = slice $problem.number}}
                {{end}}
                {{$yearteamnum = $yearteamnum | append ((delimit $teamnum "-") | urlize)}}
                <tr>
                    <th class="d-inline-block d-sm-table-cell p-1">{{$problem.team}}{{$problem.number}}</th>
                    <td class="d-inline-block d-sm-table-cell p-1"><a href="{{path.Join $yearteamnum}}">{{$problem.titlejp | default $problem.title}}</a></td>
                    <td class="d-block d-lg-table-cell p-1"><p class="m-auto text-muted"><a class="text-muted" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="難易度の評定" data-content="{{range index $problem "diffeach"}}{{.diff}} by {{.name}}; {{end}}">{{index (index $.Site.Params.diffstar "value") ((index $problem "difficulty").typicalStar|int) |safeHTML}}{{with (index $problem "difficulty").typical}}{{.}}{{end}}</a></p></td>
                    <td class="d-block d-lg-table-cell p-1"><p class="mb-0 text-muted">{{range $problem.category}}{{if hasPrefix . "!"}}{{else}}<span class="tag m-1 unmot">{{.}}</span> {{end}}{{else}}<span class="tag m-1 unmot">未分類</span>{{end}}</p></td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}
{{end}}

</div>

<script language="JavaScript" type="text/javascript">
    $(function() {
        
        var filterValue = '*';
        var qsRegex;
        var $filterOff = $('#private-filter-off-input');
        var $allfilter = $('#allfilter');
        var $qs = $('#quicksearch');
        var $filterInputs = $('.filter-input');
        var $checkboxes = $('#filter input[type="checkbox"]');
        var $venueCheckboxes = $('#filter-venue input[type="checkbox"]');
        
        var $iso = $('#filter-container').isotope({
            // options
            itemSelector: '.filter-item',
            layoutMode: 'fitRows',
            fitRows: {
                gutter: 10 
            },
            filter: function() {
                var $this = $(this);
                var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
                var filterResult = filterValue ? $this.is( filterValue ) : true;
                return searchResult && filterResult;
            },
            getSortData: {
                venue: '.sort-venue',
                year: '.sort-year parseInt'
            },
        });
        var iso = $iso.data('isotope');

        //sort
        $('#sort-by-button-group').on( 'click', 'label', function() {
            var $this = $(this);
            var sortByValue = $this.attr('data-sort-by');
            if (sortByValue !== 'original-order' && sortByValue.match(/-/g)) sortByValue = sortByValue.split('-');
            var isSortAscending = $this.hasClass('isSortAscending');
            if($this.hasClass('active')){
                isSortAscending = !isSortAscending;
                $this.toggleClass('isSortAscending');
            }
            $iso.isotope({ sortBy: sortByValue, sortAscending: isSortAscending });
        });
        $('#shuffle').on( 'click', function() {
            $('#sort-by-button-group label').removeClass('active');
            $('#sort-by-button-group input').removeProp('checked');
            $iso.isotope('shuffle');
        });

        //テキスト検索
        $qs.keyup( debounce( function() {
            qsRegex = new RegExp( $qs.val(), 'gi' );
            $iso.isotope();
            countHit();
        }) );

        function debounce( fn, threshold ) {
            var timeout;
            threshold = threshold || 100;
            return function debounced() {
                clearTimeout( timeout );
                var args = arguments;
                var _this = this;
                function delayed() {
                fn.apply( _this, args );
                }
                timeout = setTimeout( delayed, threshold );
            };
        }

        //フィルター(カテゴリーと便利以外)
        function updateCheck(){

            //フィルター処理
            var filters = [];
            $checkboxes.each(function(i, elem){
                if(false == elem.checked){
                    filters.push(elem.getAttribute('data-filter'));
                }
            });
            filterValue = filters.length ? filters.join('') : '*';
        }

        $checkboxes.change(function(){
            var $this = $(this);

            //反転
            if(false == $this.prop('checked')){
                reverse($this);
            }

            updateCheck();
            endUpdate();
        });

        //これ以降共通機能

        //反転
        function reverse($this){
            var $checked = $this.siblings('input[type="checkbox"]:checked:not([style="display: none;"])');
            var $siblings = $this.siblings('input[type="checkbox"]:not([style="display: none;"])');
            if(0 == $siblings.length - $checked.length){
                $siblings.prop('checked', false);
                $this.prop('checked', true);
            }
            else if(0 == $checked.length){
                $siblings.prop('checked', true);
                $this.prop('checked', true);
            }
            return;
        };

        //ヒット数
        function countHit(){
            var text = iso.filteredItems.length;
            $('#output').text( '—— ' + text + '件');
        }

        function endUpdate(option = {}, delay = 250){
            return new Promise(resolve => 
                setTimeout(function(){
                    $iso.isotope(option);
                    countHit();
                    resolve();
                },delay)
            );
        }

        //クリアボタン押下時
        //フィルター類をデフォルトに戻す
        $('#clear').on('click', function(){
            $filterInputs.each(function(){
                if($(this).hasClass('default-notchecked')){
                    $(this).prop('checked',false);
                }
                else{
                    $(this).prop('checked',true);
                }
            });
            $('#sort-by-button-group label').removeClass('active').addClass('isSortAscending');
            $('#sort-by-button-group input').removeProp('checked');
            updateFilters();
            $qs.val('');
            qsRegex = '';
            endUpdate({ sortBy : 'original-order', sortAscending: true });
        });

        async function genURL(){
            var genurl = location.origin + '/problems/contests/';
            return genurl;
        }

        function content(genurl){
            return '<div id="popover-link"><a href="' + genurl + '">' + genurl + '</a>' + '</div>';
        }
        function title(genurl){
            return '<div class="d-flex"><span class="mr-auto align-self-center"><i class="fas fa-search fa-fw"></i>検索結果をシェア！</span>' + '<button id="clipbtn" class="btn btn-primary btnfn rounded-circle" data-clipboard-text="' + genurl + '"><i class="fas fa-clipboard"></i></button></div>';
        }

        //shareボタン押下時
        $('#share').on('click', async function(){
            var $this = $(this);
            var genurl = '';
            await genURL().then(v =>{
                genurl = v;
            });
            $this.popover('dispose');
            $this.popover({
                title: title(genurl),
                content: content(genurl),
                html: true,
                placement: 'top',
                trigger: 'click'
            });
            $this.popover('show');
            $('#clipbtn').tooltip({
                title: 'Copy',
                trigger: 'hover'
            });
        });

        $(document).on('keyup', '#private-title-form', debounce( async function() {
            //キーが打たれる度に，urlを生成しなおして，popover の html のリンク部分を直接変える．
            privateTitle = $('#private-title-form').val();
            var genurl = '';
            await genURL().then(v =>{
                genurl = v;
            });
            $('#' + $('#share').attr('aria-describedby')).find('#popover-link').html(content(genurl));
            $('#' + $('#share').attr('aria-describedby')).find('.popover-header').html(title(genurl));
            $('#clipbtn').tooltip({
                title: 'Copy',
                trigger: 'hover'
            });
        }));

        $('body').on('click', function (e) {
            $('#share').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    
        var clipboard = new ClipboardJS('#clipbtn');
        clipboard.on('success', function(e) {
            $('#clipbtn').tooltip('dispose').tooltip({title: 'Copied!'}).tooltip('show');
        });

        //全フィルターのアップデート
        function updateFilters(){
            updateCheck();
        }

        $('.itmclps').on('shown.bs.collapse', function(){
            endUpdate({},0);
        });
        $('.itmclps').on('hidden.bs.collapse', function(){
            endUpdate({},0);
        });
    });
</script>