{{$page := (.Get 0) | absURL}}

{{range first 1 (where $.Site.RegularPages ".Permalink" ($page | string))}}
{{ $url := .Permalink}}
{{ $title := .Title }}
{{ $description := .Description }}
{{ $pagetype := .Params.pagetype | default "default" }}
{{ $icon := index $.Site.Params.pagetype $pagetype }}
    <div class="card web-card d-flex flex-row mb-3">
        <a href="{{ $url | safeURL }}" target="_blank"></a>
        <div class="thumb center">
            <div class="icon {{$pagetype}}">
            <i class="fas fa-{{$icon}} fa-fw"></i>
            </div>
        </div>
        <div class="card-body p-2">
            <h5 class="card-title mb-1">{{$title}}</h5>
            <p class="card-text text-muted">{{$description}}</p>
        </div>
    </div>
{{end}}